
#bnt2 {

}

#mtzdiv{
   
    
}
#inputdiv{
  
}
#entradas{
    background-color: AAA;
}

#bódi{
    background-color: AAF;
    height:99vh;
    
}

#resultado {

}
div#roc {
    width: 50%;
    background: red;
    float: left;
}
div#cna{
    margin-left: 50%;
    background: gray;
}
