
#bnt2 {

}

#mtzdiv{
   
    
}
#inputdiv{
  
}
#entradas{
    background-color: 009999;
}

#bódi{
    background-color: 66CCCC;
    height:99vh;
    
}

#resultado {

}
div#roc {
    width: 50%;
    background: D0D0D0;
    float: left;
}
div#cna{
    margin-left: 50%;
    background: D0D0D0;
}

input[type=checkbox]
{
    cursor: pointer;
}
