
#btn1 {
    border: none;
    color: black;
    padding: 3px 7px;
	border-radius: 10px;
    color: black;
    border: 2px solid #555555;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vmin;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	margin-top:1em;
	margin-bottom: 1em;
}

#btn1:hover {
    background-color: #555555;
    color: white;
}


#btn4 {
    border: none;
    color: black;
    padding: 3px 7px;
	border-radius: 10px;
    color: black;
    border: 2px solid #555555;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vmin;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	margin-top:1em;
	margin-bottom: 1em;
}

#btn4:hover {
    background-color: #555555;
    color: white;
}

#prodtxt{
	width: 3em;
}

#maqtxt{
	width: 3em;
}

#btn5 {
    border: none;
    color: black;
    padding: 3px 7px;
	border-radius: 10px;
    color: black;
    border: 2px solid #555555;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
	margin-bottom:1em;
}

#btn5:hover {
    background-color: #555555;
    color: white;
}

#func{
	min-height:bottom;
}


#bnt2 {
    border: none;
    color: black;
    padding: 3px 7px;
	border-radius: 10px;
    color: black;
    border: 2px solid #555555;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vmin;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#bnt2:hover {
    background-color: #555555;
    color: white;
}

#bnt3 {
    border: none;
    color: black;
    padding: 3px 7px;
	border-radius: 10px;
    color: black;
    border: 2px solid #555555;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vmin;
	--webkit-transition-duration: 0.4s; /* Safari */
    -transition-duration: 0.4s;
}

#bnt3:hover {
    background-color: #555555;
    color: white;
}

#inputdiv{
	 background-color: #009999;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
	max-width:90%;
	margin-top:2em;
	overflow: auto;
	position: relative;
}

#entradas{
	margin-top:1em;
	-margin-bottom:15px;
    overflow:hidden;
	width:auto;
	position: relative;
}
input[type=button]
{
  cursor: pointer;
}

#bódi{
    background-color: #66CCCC;
}

#resultado {

}
table#tblin
{
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 1em;
  margin-top:1em;
  text-align: center;
  background-color:#008989;
  -border: 1px #004d4d;
  -border-collapse:collapse;
}

#campo1{
	width:2.5em;
}

#campo2{
	width:6em;
}

#campo3{
	width:2.5em;
}

#campo4{
	width:6em;
}


#roc {
  --width: auto;
  margin-top: auto;
    --padding-left: 10%;
}

#cna{

  margin-top: auto;
 --width: auto;
}

#left, #right {
    display: inline-block;
    width: 45%;
    -height: 100%;
} 

#left  { float: left;  }
#right { float:right; }


#mtzdiv{
  display: none;
  width: auto;
  background-color: 009999;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}


input[type=checkbox]
{
    cursor: pointer;
}

